<a href="https://colab.research.google.com/github/harsha04h/BASIC-PYTHON/blob/main/day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**ASSIGNMENT OPERATOR**

In [ ]:
x=int(input("enter a number: "))
x+=3
print(x)

enter a number: 5
8

In [ ]:
x=int(input("enter a number: "))
x -= 3
print("x=",x)

enter a number: 5
x= 2

In [ ]:
x=int(input("enter a number: "))
x*=3
print(f"x={x}")

enter a number: 5
x=15

In [ ]:
x=int(input("enter a number: "))
x/=3
print(f"x={x:.2f}")

enter a number: 5
x=1.67

**IDENTITY OPERATOR**

In [ ]:
x=int(input("enter a numbre: "))
y=int(input("enter a number: "))
print(x is y)

enter a numbre: 2
enter a number: 2
True

In [ ]:
x=int(input("enter a numbre: "))
y=int(input("enter a number: "))
print(x is not y)

enter a numbre: 2
enter a number: 2
False

In [ ]:
a=[1,2,3]
b=[1,2,3]
c=a
print(a is b)
print(a is not b)
print(a is c)
print(c is a)
print(id(a))
print(id(b))
print(id(c))

False
True
True
True
139245260845824
139245260837248
139245260845824

In [ ]:
a=[1,2,3]
b=[1,2,3]
a=c
print(a is b)
print(a is not b)
print(a is c)
print(c is a)
print(id(a))
print(id(b))
print(id(c))

False
True
True
True
139245260845824
139244496335424
139245260845824

**MEMBERSHIP OPERATORS**

In [ ]:
fruits=["apple","banana","cherry"]
print("apple" in fruits)
print("grape" in fruits)
print("grape" not in fruits)

True
False
True

In [ ]:
x="hello guys!"
print("hello" in x)
print("world" not in x)
print("world" in x)

True
True
False

**OPERATOR PRECEDENCE**

In [ ]:
X=(3+2)*2**2
print(X)

20

Q) WRITE A PROGRAM TO PRINT SUM OF TWO NUMBERS

In [ ]:
x=int(input("enter the first number: "))
y=int(input("enter the second number: "))
sum=x+y
print(sum)
print(f"sum of {x} and {y} is {x+y}")
print(f"sum={sum}")
print("the sum of first number and second number is {}".format(sum))
print("the sum of {0} and {1} is {2}".format(x,y,sum))

enter the first number: 450
enter the second number: 60
510
sum of 450 and 60 is 510
sum=510
the sum of first number and second number is 510
the sum of 450 and 60 is 510

Q) WRITE A PROGRAM TO FIND SQAURE ROOT

In [ ]:
num=float(input("enter the number: "))
sqrt=num**0.5
print("the square root of the no is. ",sqrt)
print(f"the square root of{num:.2f} is {sqrt:.2f}")
print("the square root of the number {0} is {1}".format(num,sqrt))
print("the sqaure root of %0.2f is %0.2f"%(num,sqrt))

enter the number: 2
the square root of the no is.  1.4142135623730951
the square root of2.00 is 1.41
the square root of the number 2.0 is 1.4142135623730951
the sqaure root of 2.00 is 1.41

Q) WRITE A PROGRAM TO CALCULATE AREA OF TRIANGLE

In [ ]:
a=float(input("enter the first side:"))
b=float(input("enter the second side:"))
c=float(input("enter the third side:"))
s=(a+b+c)/2
area=(s*(s-a)*(s-b)*(s-c))**0.5
print("the area of the triangle is %0.2f"%area)
print(f"the area of the triangle is {area:.2f}")
print("the area of the triangle is {}".format(area))

enter the first side:30
enter the second side:40
enter the third side:50
the area of the triangle is 600.00
the area of the triangle is 600.00
the area of the triangle is 600.0

Q)WRITE A PROGRAM TO SOLVE QUADRATIC EQUATIONS

In [ ]:
a=int(input("enter the value of a: "))
b=int(input("enter the value of b: "))
c=int(input("enter the value of c: "))
d=(b**2)-(4*a*c)
sol1=(-b+(d**0.5))/2*a
sol2=(-b-(d**0.5))/2*a
print("the solutions are {} and {}".format(sol1,sol2))
print(f"the solution for the equation is {sol1:.1f} and {sol2:.1f}")

enter the value of a: 1
enter the value of b: -5
enter the value of c: 6
the solutions are 3.0 and 2.0
the solution for the equation is 3.0 and 2.0

In [ ]:
name="harsha"
age=18
print("my name is %s and I am %d year old."%(name,age))

my name is harsha and I am 18 year old.

In [ ]:
list=[1,2,3,4]
list[1]="hello"
print(list)

[1, 'hello', 3, 4]

Q)WRITE A PYTHON PROGRAM TO SWAP TWO VARIABLES USING THIRD VARIABLE

In [ ]:
a=int(input("enter the first number: "))
b=int(input("enter the second number: "))
print("before swapping the first number is {} and the second number is {}".format(a,b))
c=a
a=b
b=c
print("after swapping the first number is {} and the second number is {}".format(a,b))

enter the first number: 1
enter the second number: 2
before swapping the first number is 1 and the second number is 2
after swapping the first number is 2 and the second number is 1

Q)WRITE A PYTHON PROGRAM TO SWAP TWO VARIABLES WITHOUT USING THIRD VARIABLE

In [ ]:
a=int(input("enter the first number: "))
b=int(input("enter the second number: "))
print("before swapping the first number is {} and the second number is {}".format(a,b))
a=a+b
b=a-b
a=a-b
print("after swapping the first number is {} and the second number is {}".format(a,b))

enter the first number: 1
enter the second number: 2
before swapping the first number is 1 and the second number is 2
after swapping the first number is 2 and the second number is 1

Q) WRITE A PROGRAM TO SWAP 2 NO.'S USING OTHER 2 VARIABLES

In [ ]:
a=int(input("enter the first number: "))
b=int(input("enter the second number: "))
c=b
d=a
print("before swapping the number is {} and {}. After swapping the no. is {} and {}".format(a,b,c,d))

enter the first number: 1
enter the second number: 2
before swapping the number is 1 and 2. After swapping the no. is 2 and 1

Q) WRITE A PROGRAM TO CONVERT KM TO MILES

In [ ]:
x=float(input("enter a no. in km:"))
miles=x*0.621371
print("%0.3f km is equal to %0.3f miles"%(x,miles))

enter a no. in km:10.5
10.500 km is equal to 6.524 miles

Q) WRITE A PYTHON PROGRAM TO CONVERT SECONDS TO DAY, HOUR, MINUTES AND SECONDS

In [ ]:
x=float(input("enter the time in seconds: "))
day=x//(24*3600)
hour=x//3600
print(day,hour)

enter the time in seconds: 172800
2.0 48.0

Q)WRITE A COMPUTER PROGRAM TO COMPUTE THE DISTANCE BETWEEN THE POINTS(X1,Y1) AND (X2,Y2)