<a href="https://colab.research.google.com/github/harsha04h/BASIC-PYTHON/blob/main/day6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PATTERN LOOP---->NESTED LOOP

In [ ]:
n=int(input("enter a number: "))
for i in range (n):
  for j in range(n):
    print("*",end=" ")
  print()

enter a number: 5
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
n=int(input("enter a number: "))
for i in range(n):
  for j in range(i+1):
    print("*",end=" ")
  print()

enter a number: 5
*
* *
* * *
* * * *
* * * * *

In [ ]:
n=int(input("enter a number: "))
for i in range(n):
  for j in range(i+1):
    print(j+1,end=" ")
  print()

enter a number: 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
n=int(input("enter a number: "))
for i in range(1,n+1):
  for j in range(1,i+1):
    print(i,end=" ")
  print()

enter a number: 5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
n=int(input("enter a number: "))
for i in range(n):
  for j in range(i+1):
    print(chr(j+ord("A")),end=" ")
  print()

enter a number: 5
A
A B
A B C
A B C D
A B C D E

In [ ]:
n=int(input("enter a number: "))
for i in range(n):
  for j in range(1,n-i+1):
    print("*",end=" ")
  print()

enter a number: 5
* * * * *
* * * *
* * *
* *
*

In [ ]:
n=int(input("enter a number: "))
for i in range(n):
  for j in range(1,n-i):
    print(" ",end=" ")
  for k in range(i+1):
    print(chr(65+k),end=" ")
  print()

enter a number: 5
        A
      A B
    A B C
  A B C D
A B C D E

In [ ]:
n=int(input("enter a number: "))
for i in range(n):
  for j in range(1,n-i+1):
    print(j,end=" ")
  print()

enter a number: 5
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
n=int(input("enter a number: "))
for i in range(n):
  for j in range(1,n-i):
    print(" ",end=" ")
  for k in range(i+1):
    print(k+1,end=" ")
  print()

enter a number: 5
        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

In [ ]:
n=int(input("enter a number: "))
for i in range(n):
  for j in range(1,n-i):
    print("",end=" ")
  for k in range(i+1):
    print(k+1,end=" ")
  print()

enter a number: 5
    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

In [ ]:
n=int(input("enter a number: "))
for i in range(n):
  for j in range(1,n-i):
    print("",end=" ")
  for k in range(i+1):
    print("*",end=" ")
  print()

enter a number: 5
    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
n=int(input("enter a number: "))
for i in range(1,n+1):
  for j in range(1,n-i+1):
    print("",end=" ")
  for j in range(i,0,-1):
    print(j,end="")
  for j in range(2,i+1):
    print(j,end="")
  print()

enter a number: 5
    1
   212
  32123
 4321234
543212345

In [ ]:
n=int(input("enter a number: "))
for i in range(1,n+1):
  for j in range(1,n-i+1):
    print("",end=" ")
  for j in range(i,0,-1):
    print("*",end="")
  for j in range(2,i+1):
    print("*",end="")
  print()

enter a number: 5
    *
   ***
  *****
 *******
*********

In [ ]:
n=int(input("enter a number: "))
n=1
for i in range(1,n):
  for j in range(i):
    print(n, end=" ")
    n += 1
  print()

enter a number: 5